rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{m} {
      allow read: if request.auth != null;
      allow write: if true;
    }
	match /test/{t} {
	  allow read, write: if true;
	}
  }
}
